!! Transparency (0-1):
!!st.alpha: 0.92

!! Set a default font and font size as below:
!!st.font: Monospace-14;

! st.termname: st-256color
! st.borderpx: 2

/* *.color0: #3f3f3f */
/* *.color1: #705050 */
/* *.color2: #60b48a */
/* *.color3: #dfaf8f */
/* *.color4: #506070 */
/* *.color5: #dc8cc3 */
/* *.color6: #8cd0d3 */
/* *.color7: #dcdccc */
/* *.color8: #709080 */
/* *.color9: #dca3a3 */
/* *.color10: #c3bf9f */
/* *.color11: #f0dfaf */
/* *.color12: #94bff3 */
/* *.color13: #ec93d3 */
/* *.color14: #93e0e3 */
/* *.color15: #ffffff */
!! gruvbox:
*.color0: #1d2021
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2




/* !! gruvbox light: */
/* *.color0: #fbf1c7 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #7c6f64 */
/* *.color8: #928374 */
/* *.color9: #9d0006 */
/* *.color10: #79740e */
/* *.color11: #b57614 */
/* *.color12: #076678 */
/* *.color13: #8f3f71 */
/* *.color14: #427b58 */
/* *.color15: #3c3836 */

/* !! brogrammer: */
/* *.foreground:  #d6dbe5 */
/* *.background:  #131313 */
/* *.color0:      #1f1f1f */
/* *.color8:      #d6dbe5 */
/* *.color1:      #f81118 */
/* *.color9:      #de352e */
/* *.color2:      #2dc55e */
/* *.color10:     #1dd361 */
/* *.color3:      #ecba0f */
/* *.color11:     #f3bd09 */
/* *.color4:      #2a84d2 */
/* *.color12:     #1081d6 */
/* *.color5:      #4e5ab7 */
/* *.color13:     #5350b9 */
/* *.color6:      #1081d6 */
/* *.color14:     #0f7ddb */
/* *.color7:      #d6dbe5 */
/* *.color15:     #ffffff */
/* *.colorBD:     #d6dbe5 */

/* ! base16 */
/* *.color0:       #181818 */
/* *.color1:       #ab4642 */
/* *.color2:       #a1b56c */
/* *.color3:       #f7ca88 */
/* *.color4:       #7cafc2 */
/* *.color5:       #ba8baf */
/* *.color6:       #86c1b9 */
/* *.color7:       #d8d8d8 */
/* *.color8:       #585858 */
/* *.color9:       #ab4642 */
/* *.color10:      #a1b56c */
/* *.color11:      #f7ca88 */
/* *.color12:      #7cafc2 */
/* *.color13:      #ba8baf */
/* *.color14:      #86c1b9 */
/* *.color15:      #f8f8f8 */

/* !! solarized */
/* *.color0:	#073642 */
/* *.color1:	#dc322f */
/* *.color2:	#859900 */
/* *.color3:	#b58900 */
/* *.color4:	#268bd2 */
/* *.color5:	#d33682 */
/* *.color6:	#2aa198 */
/* *.color7:	#eee8d5 */
/* *.color9:	#cb4b16 */
/* *.color8:	#fdf6e3 */
/* *.color10:	#586e75 */
/* *.color11:	#657b83 */
/* *.color12:	#839496 */
/* *.color13:	#6c71c4 */
/* *.color14:	#93a1a1 */
/* *.color15:	#fdf6e3 */

/* !! xterm */
/* *.color0:   #000000 */
/* *.color1:   #cd0000 */
/* *.color2:   #00cd00 */
/* *.color3:   #cdcd00 */
/* *.color4:   #0000cd */
/* *.color5:   #cd00cd */
/* *.color6:   #00cdcd */
/* *.color7:   #e5e5e5 */
/* *.color8:   #4d4d4d */
/* *.color9:   #ff0000 */
/* *.color10:  #00ff00 */
/* *.color11:  #ffff00 */
/* *.color12:  #0000ff */
/* *.color13:  #ff00ff */
/* *.color14:  #00ffff */
/* *.color15:  #aabac8 */
*foreground: #dcdccc
/* #00cc00 */
*foreground_bold: #ffffff
/* #a8a19f */
*cursor: #dcdccc
/* #a8a19f */
/* *background:       #1b1918 */
*background: rgba(0, 0, 0, 0.9)


URxvt.intensityStyles:	true
URxvt.background:       [90]#2f2f2f
URxvt.depth:		32
urxvt.font: 		xft:monospace:size=20
URxvt.scrollBar:	false
URxvt.cursorColor:	#dcdccc

!! Extensions
URxvt.perl-ext-common:	default,clipboard,matcher,resize-font,url-select,keyboard-select,
URxvt.colorUL:		#add8e6
!! url-select
!! Ctrl-u to enter url-select mode
!! j to previous url, k to next url.
!! Return to open url, o to open url and stay in mode
!! y to copy url, Esc to leave mode
URxvt.keysym.C-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.S-Escape: perl:keyboard-select:activate
!! resize-font
!! Enable Ctrl-Shift bindings
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.C-j:     resize-font:smaller
URxvt.keysym.C-k:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

/* URxvt.keysym.C-Up:     font-size:increase */
/* URxvt.keysym.C-Down:   font-size:decrease */
/* URxvt.keysym.C-S-Up:   font-size:incglobal */
/* URxvt.keysym.C-S-Down: font-size:decglobal */
/* URxvt.keysym.C-equal:  font-size:reset */
/* URxvt.keysym.C-slash:  font-size:show */

!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1
!! clipboard
!! Ctrl-y to copy, Ctrl-p to paste
URxvt.clipboard.autocopy: true
URxvt.keysym.C-y: perl:clipboard:copy
URxvt.keysym.C-p: perl:clipboard:paste

